body{
  font-family: 微軟正黑體;
  background-color:white;
  color:black;
  font-size:150%
}
h4{
  font-weight:bolder;
}
.spw{
  color: #160879;
}

a{
  color: #6857e3;
  text-decoration: none;
}
.pct{
  float:right; /* 讓圖片變成區塊，避免與文字擠在一起 */
  margin-left: 15px;
}
.boxf{
  display:flex;
  flex-direction:column; /* 讓圖片在上，文字在下 */
  width:fit-content; /* 讓框架自適應內容寬度 */
  float:right; /* 讓圖片變成區塊，避免與文字擠在一起 */
  margin-left: 10px;
}
.box{
  display:flex;
  flex-direction:column; /* 讓圖片在上，文字在下 */
  width:180px; /* 讓框架自適應內容寬度 */
  float:right; /* 讓圖片變成區塊，避免與文字擠在一起 */
  margin-left: 10px;
}

.imgr{
  width: 400px;
}

.jr{
  text-align:center;
  margin-top:5px;
}
a:hover {
  text-decoration: underline;
}
