<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="static/style.css">
    <title>廣義相對論下時空</title>
</head>
<body>
    <h1>廣義相對論下的時空</h1>
    <img src="https://thumbs.dreamstime.com/b/general-theory-relativity-rubber-sheet-model-vector-illustration-general-theory-relativity-rubber-sheet-model-257451995.jpg" class="pct" alt="示意圖">
    <p>將時空想像成一張彈簧床，把一顆有質量的球放在上面，床面會凹陷，越重的球凹陷也會越深。而當有相對輕的物體被放置到彈簧床上，就會順著彎曲的面滾動，滾向位於凹陷中心的球，這就是以廣義相對論解釋重力交互作用的方法。同理有速度的球會繞著凹陷旋轉，這便是宇宙中衛星繞行行星旋轉的現象。
</p>
    <a href="/">繼續認識重力波</a>
</body>
</html>