<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>參考資料</title>
</head>
<body>
    <h1 class="spw">參考資料</h1>
    <ul>
    <li>灰野禎一. "邁向大型重力波干涉儀觀測網路".  Translated by 林俊鈺. <i>物理雙月刊</i>, 13 Jan. 2018, <a href="https://bimonthly.ps-taiwan.org/articles/67bc2d891efd7411b20cad05">https://bimonthly.ps-taiwan.org/articles/67bc2d891efd7411b20cad05</a>.
    <li>"什麼是重力波？又該如何觀測與計算呢？". <i>科學月刊</i>, no. 548, Aug. 2015. <i>PanSci 泛科學</i>, <a href="https://pansci.asia/archives/92404">https://pansci.asia/archives/92404</a>.
    <li>"重力波，I got you！那場黑洞合併事件出賣你了", <i>研之有物</i>, 2019, <a href="https://research.sinica.edu.tw/ng-kin-wang-gravity-wave-black-hole/">https://research.sinica.edu.tw/ng-kin-wang-gravity-wave-black-hole/</a>.
    <li>科學大斗宅, "重力波很難懂？簡單明瞭的重力波捕獲現場——科學超抖宅報". <i>PanSci 泛科學</i>, 12 Feb. 2016, <a href="https://pansci.asia/archives/93578">https://pansci.asia/archives/93578</a>.
    <li>Jesse. "三分鐘看懂「重力波」！愛因斯坦最古怪、最狂野的推測得到證實". <i>TNL The News Lens 關鍵評論網</i>, 12 Feb. 2016, <a href="https://www.thenewslens.com/article/36142">https://www.thenewslens.com/article/36142</a>.
    <li>David Yu. "重力波：愛因斯坦的最後預言 (上)". 余海峯 David | 物理喵 phycat, 2 Nov. 2016, <a href="https://hfdavidyu.com/2016/02/11/gwave1/">https://hfdavidyu.com/2016/02/11/gwave1/</a>.
    <li>LIGO Lab. "Video | Ripples in Spacetime Pond", <i>LIGO Caltech</i>, 15 June. 2016, <a href="https://www.ligo.caltech.edu/video/ligo20160615v1">https://www.ligo.caltech.edu/video/ligo20160615v1</a>.
    <li>LIGO Lab. "Video | Most Precise Ruler Ever Constructed", <i>LIGO Caltech</i>, 11 Feb. 2016, <a href="https://www.ligo.caltech.edu/video/ligo20160211v6">https://www.ligo.caltech.edu/video/ligo20160211v6</a>.
    <li>PanSci 泛科學. "雙黑洞碰撞前發生什麼事？重力波觀測一舉證實了愛因斯坦相對論最初與最後的預言！". <i>YouTube</i>, 5 Dec. 2022, <a href="https://youtu.be/ov6XMb_RDqw?feature=shared">https://youtu.be/ov6XMb_RDqw?feature=shared</a>.
    <li>Piled Higher and Deeper (PHD Comics). "Gravitational Waves Explained". <i>YouTube</i>, 1 Feb. 2016, <a href="https://youtu.be/4GbWfNHtHRg?feature=shared">https://youtu.be/4GbWfNHtHRg?feature=shared</a>.
    <li>Klonusk. "If light has no mass, why is it affected by gravity? General Relativity Theory". <i>YouTube</i>, 8 Nov. 2012, <a href="https://youtu.be/KXhJDPu0G-E?feature=shared">https://youtu.be/KXhJDPu0G-E?feature=shared</a>.
    <li>Ferrie, Chris. <i>General Relativity for Babies</i>. Sourcebooks Explore, 2017.
    <li>Cervantes-Cota, J., Galindo-Uribarri, S., and Smoot, G.. “A Brief History of Gravitational Waves”. 2016.
    <li>渥秋華. "重力波終於現身！". Translated by 戴守煌. 2016.
    <li>朱創新. "重力波天文學:一個新的前瞻研究領域". <i>自然科學簡訊</i>, vol. 31, no. 3, Aug. 2019, pp. 132–133.
    </ul>
    <a href="/">回上頁</a>
</body>
</html>
