<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="static/style.css">
    <title>廣義相對論下的時空</title>
</head>
<body>
    <h1 class="spw">廣義相對論下的時空</h1>
    <div class="boxf"><img src="https://thumbs.dreamstime.com/b/general-theory-relativity-rubber-sheet-model-vector-illustration-general-theory-relativity-rubber-sheet-model-257451995.jpg" class="imgr" alt="廣義相對論下的時空示意圖" ><p class="jr">廣義相對論下的時空及質量造成的凹陷</p></div>
    <p>將時空想像成一張<span class="spw">彈簧床</span>，把一顆有質量的球放在上面，<span class="spw">床面會凹陷</span>，越重的球凹陷也會越深。而當有相對輕的物體被放置到彈簧床上，就會<span class="spw">順著彎曲的面滾動</span>，滾向位於凹陷中心的球，這就是以廣義相對論解釋<span class="spw">重力交互作用</span>的方法。同理<span class="spw">有速度</span>的球會<span class="spw">繞著凹陷旋轉</span>，這便是宇宙中衛星繞行行星旋轉的現象。
</p>
    <p>當然廣義相對論所包含的概念不是三言兩語可以概括的，此處的解釋只是作為了解重力波的基礎。因為以牛頓力學解釋重力，重力的交互作用是瞬時的，那重力波便不會存在，原因在<a href="/">回上頁繼續認識重力波</a>後便會揭曉。</p>
</body>
</html>